/*nav {
    padding: 1rem;
}*/
ul {
    display: flex;
}
li {

}
/*a {
    display: block;
    padding: 5px 8px;
    color: dodgerblue;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}*/
a.active {
    color: gold;
}
.w-100 {
  width: 100%;
}
:host {
  background-color: #3f51b5;
  width: 100%;
  display: block;
}
