<div class="contenedor">
<mat-toolbar color="primary">

  <mat-toolbar-row>

    <!--  Toda librería que se instale sobre angular y que requiera importar estilos, debe hacerce manualmente
    dicha importación en el archivo angular.json -->
    <div class="row middle-xs between-xs w-100">
      <nav>
        <ul>
            <li><a mat-button [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
            <li><a mat-button [routerLink]="['/products']" routerLinkActive="active">Productos</a></li>
            <li><a mat-button [routerLink]="['/contact']" routerLinkActive="active">Contacto</a></li>
            <li><a mat-button [routerLink]="['/demo']" routerLinkActive="active">Demo {{ total }}</a></li>
        </ul>
      </nav>
      <a mat-raised-button [matBadge]="total_products" matBadgeColor="accent">
        <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
      </a>
    </div>

  </mat-toolbar-row>

</mat-toolbar>
</div>

