<mat-horizontal-stepper>
  <mat-step>
    <ng-template matStepLabel>Tus productos</ng-template>
    <div *ngIf="(products$ | async) as products">
      <h3 *ngIf="!products.length">No hay productos en el carrito</h3>
        <div *ngFor="let product of (products | cart)" class="row">
          <div class="col-md-3">
            <img [src]="product.image" [alt]="product.title" width="120" height="120">
          </div>
          <p class="col-md-3">{{ product.title }}</p>
          <p class="col-md-3">{{ product.description }}</p>
          <p class="col-md-3">{{ product.price | currency }}</p>
        </div>
    </div>
  </mat-step>
  <mat-step >
      <ng-template matStepLabel>Datos personales</ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Pago</ng-template>
  </mat-step>
</mat-horizontal-stepper>
