<app-header></app-header>
<h3>{{ title }}</h3>
<input type="text" [(ngModel)]="title">

<div *ngIf="title === 'Alejandro'">
  Bienvenido al curso de Angular
</div>

<p>Lista de elementos</p>
<button (click)="agregarElemento()">Agregar elemento</button>
<ul>
  <li *ngFor="let nombre of nombres; index as i">
    {{ nombre }} - {{ i }} 
    <button (click)="eliminarElemento(i)">Eliminar</button>
  </li>
  <li *ngIf="!nombres.length">No hay elementos en la lista</li>
</ul>

<ng-container [ngSwitch]="mes">
  <p *ngSwitchCase="'noviembre'">Noviembre de Buen Fin</p>
  <p *ngSwitchCase="'diciembre'">Diciembre de compras</p>
  <p *ngSwitchCase="'julio'">Julio de cumpleaños</p>
</ng-container>

<p>{{ objetoFecha | date:'HH:mm' }}</p>
