<h3>{{ product.title | uppercase }}</h3>
<a [routerLink]="['/products', product.id]">
    <img [src]="product.image" [alt]="product.title">
</a>
<p class="description">{{ product.description | slice:0:150 }}</p>
<div class="details">
    <!-- Al usar un Pipe que se encuentra gestionado por otro módulo, es necesario importar ese módulo en el módulo que gestiona este componente -->
    <span class="price">Precio: {{ product.price | currency }} {{ product.unit | unidades}}</span>
    <!-- Button Angular Material -->
    <button mat-flat-button color="accent" (click)="addCart()">Agregar al carrito</button>
</div>
<span appHighlight>Online</span>
