/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    list-style: none;
    box-sizing: border-box;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

@media screen and (min-width: 600px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 768px) {
    .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1024px) {
    .products-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.contenedor {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 16px;
  display: block;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgb(216, 216, 216);
}
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgb(215, 215, 215) !important;
}
